* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}

body {
	font-family: "Roboto", sans-serif;
	animation: fadeInAnimation ease 1s 1;
	animation-fill-mode: forwards;
}

img {
	max-width: 100%;
}

#nav-menu {
	position: fixed;
	background-color: rgba(15, 15, 15, 0.8);
	color: white;
	width: 100%;
}

#nav-main,
#nav-img,
#toggle-menu {
	display: none;
}

#nav-main li {
	text-align: center;
	margin: 0.5rem auto;
	list-style-type: none;
}

#nav-main a {
	padding: 0.4rem 0.6rem;
	color: white;
	display: inline-block;
	margin: 0 0.2rem;
	font-size: 2.2rem;
}

#hamburger-icon {
	cursor: pointer;
	font-size: 2.5rem;
	color: white;
	margin: 2rem 1rem;
}

#toggle-menu:checked + #nav-main {
	display: block;
}

#tribute-link:hover,
#nav-main a:hover {
	color: gray;
	transition: 0.3s;
}

a:visited {
	color: inherit;
}

#main {
	min-height: 100vh;
}

#toggle-menu {
	display: none;
}

#nav-img {
	filter: invert(1);
	width: 3rem;
}

#header-div {
	display: flex;
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
		url("./img/bg-title.jpg") no-repeat center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem 8rem;
	padding: 8rem 0;
	min-height: 100vh;
}

#title-div {
	display: flex;
	flex-flow: column;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.8rem;
}

#title-img-div > img {
	width: 32em;
	border-radius: 5px;
	border: darkgray solid 1px;
	transform: scale(1);
	transition: 0.3s ease-in-out;
}

#title-img-div > img:hover {
	transform: scale(1.1);
	opacity: 0.9;
}

h1 {
	font-size: 8rem;
}

.title-caption {
	font-size: 3rem;
}

#img-div {
	text-align: center;
	padding: 2rem 4rem;
}

#image {
	width: 60rem;
	margin-bottom: 0.6rem;
	border-radius: 5px;
	border: black solid 1px;
}

#img-caption {
	font-weight: bold;
	font-size: 1.8rem;
}

#tribute-info {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

h2 {
	text-decoration: underline;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

#biography-div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	padding: 2rem 4rem;
	width: 100%;
}

#biography-div > p,
#timeline-div > ul {
	max-width: 75ch;
	font-size: 1.8rem;
}

#biography-div > p > strong {
	font-size: 2em;
}

#timeline-div {
	padding: 2rem 4rem;
}

span {
	font-weight: bold;
}

#discoveries-div {
	background: black;
	color: white;
	width: 100%;
	padding: 2rem 4rem;
}

#discoveries-img-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background: black;
	color: white;
}

.discoveries-img {
	text-align: center;
}

.discoveries-img img {
	width: 32rem;
	height: 24rem;
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
}

.discoveries-img a:hover {
	opacity: 0.7;
	transition: 0.3s ease-in-out;
}

.discoveries-img > p {
	font-size: 1.8em;
	font-weight: 500;
}

#tribute-question {
	padding: 2em;
	padding: 2rem 4rem;
}

#question-answer-div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem 4rem;
	flex-wrap: wrap;
}

#question-div {
	width: 20ch;
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
}

#answer-div {
	font-size: 2.5rem;
	max-width: 30ch;
	text-align: center;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 800px) {
	html {
		scroll-padding-top: 2.8em;
	}

	#nav-menu {
		display: flex;
		padding: 0.5em 10em;
	}

	#nav-main {
		display: flex;
		align-items: center;
		gap: 3em;
	}

	#nav-main a {
		padding: 0;
		display: block;
		margin: 0;
		font-size: 2em;
	}

	#hamburger-icon {
		display: none;
	}

	#toggle-menu:checked + #nav-main {
		display: flex;
	}

	#nav-img {
		display: block;
	}
}
